* { 
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Inicio Header */
.nav { 
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list { 
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 24px;
}

.nav-list a { 
    text-decoration: none;
    color: #DDD;
}

.nav-list a:hover { 
    color: #FFF;
}

.main { 
    display: flex;
    align-items: center;
    padding-left: 10%;
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url("./images/programador.png");
}

.main h1 { 
    color: #FFFFFF;
    font-size: 54px;
}

.main p { 
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action {
    cursor: pointer;
    background-color: #FFF;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}


.call-to-action:hover { 
    transform: scale(1.1);
}


.main a { 
    text-decoration: none;
    color: #181818;
}


.about { 
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div { 
    max-width: 50%;
    padding-right: 40px;
}

.about img { 
    max-width: 450px;
    border-radius: 8px;
}


.about div h2 { 
    font-size: 32px;
    margin-bottom: 14px;
}

/* Inicio projects */

.projects { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projects h2 { 
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p { 
    margin-bottom: 40px;
    font-style: italic;
}

.project-list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects img { 
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}

.project-list img:hover { 
    opacity: 1;
}

.action { 
    background-color: #181818;
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 14px;
    cursor: pointer;
}

/* Inicio Rodape */

footer { 
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

footer a { 
    text-decoration: none;
    color: #FFFFFF;
}

footer p { 
    margin-left: 8px;
}

/* Responsividade */

@media(max-width: 1050px) { 
    /* Inicio Main */
    .main h1 { 
        font-size: 45px;
    }
    .main p {
        font-size: 18px;
    }

    .main { 
        background-size: cover;
    }


    /* Inicio sobre */
    .about { 
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .about div {
        max-width: 80%;
    }

    .about div h2 { 
        font-size: 45px;
    }

    .about img { 
        width: 80%;
        margin-top: 30px;
    }

    /* Inicio Projetos */
    .projects img { 
        width: 27.5%;
    }

    /* Inicio Footer */
    footer { 
        flex-direction: column;
        align-items: center;
    }

    footer h3 { 
        font-size: 24px;
        margin-bottom: 8px;
    }


    footer p { 
        margin: 0;
    }
}